* body {
    background-color: #2C75FF;
    font-family: "roboto";
    color: #1e1b1b;
}

.title h1 {
    font-size: 115px;
    text-align:center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    background-color: #2C75FF;
    text-decoration:underline;
    font-size:63px;
    text-align: center;
}

@media (orientation: landscape){
.Featured {
    display:grid;
    grid-template-columns: 50% 50%;
}}

.ArticlePreview {
    display: flex;
    flex-direction: row;
    gap: 3em;
    border-style:solid;
    width: 100%;
}

.ArticleImg {
    padding:1%; 
}

h5 {
    font-size:45px;
}

p {
    font-size:20px;
    margin-right: 20%;
}

.container {
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
}

a {
    color:unset;
    text-decoration: none;
    display:flex;
    margin:2%;
    width:90%;
    height:fit-content;
}

.Articles {
    width: fit-content;
    border-style:solid;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    padding:1%;
    text-indent:30px;
}

@media (orientation: portrait){
    .Article {
        display:block;
        text-align:center;
        margin-left:auto;
        margin-right:auto;
    }}

.Article P {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.Article A {
    display:inline-block;
    width:fit-content;
    margin:0%;
    margin-left:0%;
    text-indent:0px;
    color:blue;
    text-decoration:underline;
}

.Caption {
    text-decoration:underline;
}

.Article  a:visited{
    color:purple;
    text-decoration-color:purple;
}
